<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Subjects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-input [(ngModel)]="subjectName" placeholder="Enter subject name"></ion-input>
  <ion-button expand="full" (click)="addSubject()">Add Subject</ion-button>

  <ion-list>
    <ion-item *ngFor="let sub of subjects" (click)="goToTOS(sub.id)">
      {{ sub.name }}
    </ion-item>
  </ion-list>

  <ion-list>
  <ion-item *ngFor="let sub of subjects">
    <ion-label (click)="goToTOS(sub.id)">
      {{ sub.name }}
    </ion-label>
    <ion-button slot="end" fill="outline" (click)="goToScannedResults(sub.id)">
      View Scans
    </ion-button>
  </ion-item>
</ion-list>

<ion-card *ngFor="let scan of scanResults" (click)="viewScan(scan)">
  <img [src]="scan.headerImage" style="width: 100%; height: auto;" />
  <ion-card-header>
    <ion-card-title>Score: {{ scan.score }}/{{ scan.total }}</ion-card-title>
    <ion-card-subtitle>{{ scan.timestamp | date: 'short' }}</ion-card-subtitle>
  </ion-card-header>
</ion-card>

</ion-content>
