@media print {
  ion-header, ion-toolbar, ion-button {
    display: none !important;
  }

  #print-area {
    visibility: visible;
  }

  body * {
    visibility: hidden;
  }

  #print-area, #print-area * {
    visibility: visible;
  }
  .text-green {
    color: green;
    font-weight: bold;
  }

  .text-red {
    color: red;
    font-weight: bold;
  }

}
.text-green {
  color: green;
  font-weight: bold;
}

.text-red {
  color: red;
  font-weight: bold;
}
canvas {
  display: block;
  width: 100% !important;
  max-width: 600px;
  height: 300px !important;
  margin: 1rem auto;
}
canvas {
  background: #fff; /* force white background */
}
